{% extends 'base.html.twig' %}

{% trans_default_domain 'FOSUserBundle' %}

{% block body %}
<div class="container content login-screen">
    <div class="row">
        <div class="col-sm-6 col-sm-offset-3 text-center">
            Password reset already requested.
        </div>
    </div>
</div>
{% endblock %}
