{% trans_default_domain 'FOSUserBundle' %}

<div class="container content login-screen">
    <div class="row">
        <div class="col-sm-6 col-sm-offset-3 text-center">
            <h2>Enter username or e-mail to send password reset link</h2>
            <form class="login-form" action="{{ path('fos_user_resetting_send_email') }}" method="POST">
                <div>
                    <div class="error-msg">
                    {% if invalid_username is defined %}
                        <p>{{ 'resetting.request.invalid_username'|trans({'%username%': invalid_username}) }}</p>
                    {% endif %}
                    </div>
                    <div class="form-group">
                        <input type="text" id="username" name="username" required="required" placeholder="Username/Email"/>
                    </div>
                </div>
                <div>
                    <button type="submit" class="btn btn-default green-btn">Submit request</button>
                </div>
            </form>
        </div>
    </div>
</div>
