/app/config/parameters.yml
/build/
/phpunit.xml
/var/*
!/var/cache
/var/cache/*
!var/cache/.gitkeep
!/var/logs
/var/logs/*
!var/logs/.gitkeep
!/var/sessions
/var/sessions/*
!var/sessions/.gitkeep
!var/SymfonyRequirements.php
/vendor/
/web/bundles/
.idea/
.DS_Store
lib/
node_modules/
web/deploy.php
/.idea/*
web/css/style.css
web/js/all-scripts.js
web/js/all-scripts.js.map
