{% extends 'DevlabsSportifyBundle:Rules:layout.html.twig' %}

{% block content %}

    <div class="container-fluid content">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-12">
                <h2>This game is about match score predictions.</h2>
                <h3>You predict match scores, and gain points... or not :)</h3>

                <h2>The game flow is the following:</h2>
                <ol>
                    <li>Join tournament(s) (Tournaments page)</li>
                    <li>List available matches and place your predictions for the tournament(s) joined (Matches page)</li>
                    <li>View history for finished matches - what you predicted, what was the final resulut, how many points you gained (History page)</li>
                    <li>View standings... and troll other users (Standings page)</li>
                    <li>View standings (Standings page)</li>
                </ol>

                <h2>Scoring:</h2>
                <ul>
                    <li><b>Exact score predicted - 3 points</b></li>
                        <p>You predicted 1-0, final score 1-0</p>
                        <p>You predicted 1-2, final score 1-2</p>
                        <p>You predicted 3-3, final score 3-3</p>
                    <li><b>Match outcome predicted - 1 point</b></li>
                    Examples:
                        <p>You predicted 1-0, final score 3-1  (home team win)</p>
                        <p>You predicted 1-2, final score 0-2  (away team win)</p>
                        <p>You predicted 2-2, final score 1-1  (draw)</p>
                </ul>

                <h2>HAVE FUN !</h2>
            </div>
        </div>
    </div>

{% endblock %}