{% extends 'DevlabsSportifyBundle:Rules:layout.html.twig' %}

{% block content %}

    <div class="container-fluid content">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-12">

            </div>
        </div>
    </div>

{% endblock %}