{% extends 'DevlabsSportifyBundle:Rules:layout.html.twig' %}

{% block content %}

    <div class="container-fluid content">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-12">
                <h2>This game is about match score predictions.</h2>
                <h2>You predict match scores, and gain points.. or not :)</h2>

                <h2>The game flow is the following:</h2>
                <ul>
                    <li>1. Join tournament(s) (Tournaments page)</li>
                    <li>2. List available matches and place your predictions for the tournament(s) joined (Matches page)</li>
                    <li>3. View history for finished matches - what you predicted, what was the final resulut, how many points you gained (History page)</li>
                    <li>4. View standings.. and troll other users (Standings page)</li>
                </ul>

                <h2>Scoring:</h2>
                <ul>
                    <li><h5>Exact score predicted - 3 points</h5></li>
                    Examples:
                        You predicted 1-0, final score 1-0
                        You predicted 1-2, final score 1-2
                        You predicted 3-3, final score 3-3

                    <li><h5>Match outcome predicted - 1 point</h5></li>
                    Examples:
                        You predicted 1-0, final score 3-1  (home team win)
                        You predicted 1-2, final score 0-2  (away team win)
                        You predicted 2-2, final score 1-1  (draw)
                </ul>

                <h2>HAVE FUN !</h2>
            </div>
        </div>
    </div>

{% endblock %}