{% extends 'base.html.twig' %}

{% block nav_top %}
    <h1 class="text-center">Admin panel</h1>
{% endblock %}

{% block body %}

    <div class="container-fluid content admin-mappings-page">
        <div class="row">
            <div class="col-lg-12 col-md-12">
                <h2 class="text-center">Create/Edit/Delete Tournament-to-API mapping</h2>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-12 col-md-12">
                {% for tournament in tournaments %}
                    {{ include('templates/forms/apimapping_create_edit.html.twig', {
                        'form': forms[tournament.id],
                        'tournament': tournament
                    }) }}
                {% endfor %}

                {% if tournaments|length == 0 %}
                    <div class="text-center">
                        No tournaments found. First, you need to add any from <a href="{{ path('admin_tournaments') }}">here</a>.
                    </div>
                {% endif %}
            </div>
        </div>

        <h2 class="text-center">
            Available Tournaments via API:
        </h2>
        <div class="row">
            <div class="col-sm-4 col-sm-offset-4">
                <div class="row">
                    <div class="col-xs-6 col-sm-6 standing-title">ID</div>
                    <div class="col-xs-6 col-sm-6 standing-title">Name</div>
                </div>
                {% for api_tournament in api_tournaments %}
                    <div class="row standing">
                        <div class="col-xs-6 col-sm-6">{{ api_tournament.id }}</div>
                        <div class="col-xs-6 col-sm-6">{{ api_tournament.name }} </div>
                    </div>
                {% endfor %}

            </div>
        </div>
    </div>

{% endblock %}