{% trans_default_domain 'FOSUserBundle' %}


<div class="container content login-screen">
    <div class="row">
        <div class="col-sm-6 col-sm-offset-3 text-center">
            {{ form_start(form, { 'action': path('fos_user_change_password'), 'attr': { 'class': 'fos_user_change_password' } }) }}
                {{ form_widget(form) }}
                <div>
                    <input type="submit" value="{{ 'change_password.submit'|trans }}" />
                </div>
            {{ form_end(form) }}
        </div>
    </div>
</div>