{% extends 'DevlabsSportifyBundle::base.html.twig' %}

{% block nav_top %}
    <h1 class="text-center">History</h1>
{% endblock %}

{% block body %}
    {% block content %}{% endblock %}
{% endblock %}
