{% extends 'base.html.twig' %}

{% block nav_top %}
    <h1 class="text-center">Champion Prediction</h1>
{% endblock %}

{% block body %}

    <div class="container-fluid content champion-page">
        <div class="row text-center">
            You need to join at least one tournament in order to set Champion Prediction.
        </div>
    </div>

{% endblock %}