{% extends 'base.html.twig' %}

{% block nav_top %}
    <h1 class="text-center">Admin panel</h1>
{% endblock %}

{% block body %}

    <div class="container-fluid content admin-page">
        <div class="row">
            <div class="col-lg-12 col-md-12">
                <ul class="nav sidebar-nav">
                    <li>
                        <a href="{{ path('admin_data_updates_match_fixtures') }}">Update Match Fixtures</a>
                    </li>
                    <li>
                        <a href="{{ path('admin_data_updates_match_results') }}">Update Match Results</a>
                    </li>
                    <li>
                        <a href="{{ path('admin_data_updates_teams') }}">Update Teams</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>

{% endblock %}